<app-public-nav></app-public-nav>
<div class="container">
  <div class="row align-items-start" style="background-color:violet">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col" >
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>



<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-12 col-md-8" style="background-color:violet">.col-12 .col-md-8</div>
    <div class="col-6 col-md-4"style="background-color: red">.col-6 .col-md-4</div>
  </div>

  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div class="row">
    <div class="col-6 col-md-4" style="background-color: green">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4" style="background-color: blue">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4" style="background-color: yellow">.col-6 .col-md-4</div>
  </div>

  <!-- Columns are always 50% wide, on mobile and desktop -->
  <div class="row">
    <div class="col-6" style="background-color: darkgoldenrod">.col-6</div>
    <div class="col-6" style="background-color: violet">.col-6</div>
  </div>
</div>

<h3>Basic Buttons</h3>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>

<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>

<h3>Stroked Buttons</h3>
<div class="example-button-row">
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warn</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a mat-stroked-button routerLink=".">Link</a>
</div>

<h3>Flat Buttons</h3>
<div class="example-button-row">
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button routerLink=".">Link</a>
</div>

<h3>Icon Buttons</h3>
<div class="example-button-row">
  <button mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>notes</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
    <mat-icon>notes</mat-icon>
  </button>
  <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
    <mat-icon>notes</mat-icon>
  </button>
  <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
    <mat-icon>notes</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon aria-hidden="true" color="warn" aria-label="Example thumbs up SVG icon"> notes</mat-icon>
  </button>
</div>

<h3>Fab Buttons</h3>
<div class="example-button-row">
  <button mat-fab>Basic</button>
  <button mat-fab color="primary">Primary</button>
  <button mat-fab color="accent">Accent</button>
  <button mat-fab color="warn">Warn</button>
  <button mat-fab disabled>Disabled</button>
  <button mat-fab aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <a mat-fab routerLink=".">Link</a>
</div>

<h3>Mini Fab Buttons</h3>
<div class="example-button-row">
  <button mat-mini-fab>Basic</button>
  <button mat-mini-fab color="primary">Primary</button>
  <button mat-mini-fab color="accent">Accent</button>
  <button mat-mini-fab color="warn">Warn</button>
  <button mat-mini-fab disabled>Disabled</button>
  <button mat-mini-fab aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <a mat-mini-fab routerLink=".">Link</a>
</div>



<br>


<div class="container">
    <div class="child">
       <h2> {{naslov}}</h2>
  </div>
      </div>
  
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Ставки од изводот</mat-card-title>
  
      </mat-card-header>
     
      <mat-card-content>
  
          <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">
            
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell [style.display]="'none'" *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
            
           <!-- Symbol Column -->
           <ng-container matColumnDef="posledna">
              <th mat-header-cell *matHeaderCellDef> Posledna </th>
              <td mat-cell *matCellDef="let element"> {{element.posledna}} </td>
            </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    
  

<br>



<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav  
  [mode]="mode.value"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  (backdropClick)="close('backdrop')">
    <p><button mat-button (click)="sidenav.toggle()">Toggle1</button></p>


    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <mat-nav-list>
      <a mat-list-item >
        <mat-icon>face</mat-icon>
        <span class="nav-caption" [routerLink]='["newcompany"]'
        [routerLinkActive]='["link-active"]'
        [routerLinkActiveOptions]='{ exact: true }'>Нова фирма</span>
      </a>
      <a mat-list-item routerLink="/login" (click)="onClose()">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Login</span>
      </a>
      <a mat-list-item routerLink="/training" (click)="onClose()">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-caption">Training</span>
      </a>
      <mat-list-item>
        <button mat-icon-button (click)="onClose()">
          <mat-icon>eject</mat-icon>
          <span class="nav-caption">Logout</span>
        </button>
      </mat-list-item>

      <mat-list-item>
          <button mat-button fxLayoutAlign="center center"[matMenuTriggerFor]="animals">Animal index</button>
          <mat-menu #animals="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
              <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
            </mat-menu>
        </mat-list-item>



    </mat-nav-list>
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode">
        <label>Mode:</label>
        <mat-radio-button value="over">Over1</mat-radio-button>
        <mat-radio-button value="side">Side1</mat-radio-button>
        <mat-radio-button value="push">Push1</mat-radio-button>
      </mat-radio-group>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <p><button mat-button (click)="onClick()"> togle emmit</button></p>
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode">
        <label>Mode:</label>
        <mat-radio-button value="over">Over</mat-radio-button>
        <mat-radio-button value="side">Side</mat-radio-button>
        <mat-radio-button value="push">Push</mat-radio-button>
      </mat-radio-group>
    </p>
<div>-AAAAAAAAAAxccxcxcxcxcxcxcxcxcxcxcxxccxcxcxcxxcAAA-</div>
<main>


   
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>

    <div fxLayoutAlign ="center center">
        <button mat-button fxLayoutAlign="center center"[matMenuTriggerFor]="firmi">Фирми</button>
        <button mat-button fxLayoutAlign="center center"[matMenuTriggerFor]="animals">Animaldsdssddsdsds index</button>
        <button mat-button fxLayoutAlign="center center"[matMenuTriggerFor]="animals">Animdssdsdsdal index</button>
        <button mat-button fxLayoutAlign="center center"[matMenuTriggerFor]="animals">Animsdsdsdsddsal index</button>
        <button mat-button fxLayoutAlign="center center"[matMenuTriggerFor]="animals">Anassasaassasaasimal index</button>
     
        <mat-menu #animals="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
          <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
        </mat-menu>
        
        <mat-menu #firmi="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="fish">Нова фирма</button>
          <button mat-menu-item [matMenuTriggerFor]="amphibians">Исправка на фирми</button>
          <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
          <button mat-menu-item>Birds</button>
          <button mat-menu-item>Mammals</button>
        </mat-menu>
        
        <mat-menu #invertebrates="matMenu">
          <button mat-menu-item>Insects</button>
          <button mat-menu-item>Molluscs</button>
          <button mat-menu-item>Crustaceans</button>
          <button mat-menu-item>Corals</button>
          <button mat-menu-item>Arachnids</button>
          <button mat-menu-item>Velvet worms</button>
          <button mat-menu-item>Horseshoe crabs</button>
        </mat-menu>
        
        <mat-menu #fish="matMenu">
          <button mat-menu-item>Baikal oilfish</button>
          <button mat-menu-item>Bala shark</button>
          <button mat-menu-item>Ballan wrasse</button>
          <button mat-menu-item>Bamboo shark</button>
          <button mat-menu-item>Banded killifish</button>
        </mat-menu>
        
        <mat-menu #amphibians="matMenu">
          <button mat-menu-item>Sonoran desert toad</button>
          <button mat-menu-item>Western toad</button>
          <button mat-menu-item>Arroyo toad</button>
          <button mat-menu-item>Yosemite toad</button>
        </mat-menu>
        
        <mat-menu #reptiles="matMenu">
          <button mat-menu-item>Banded Day Gecko</button>
          <button mat-menu-item>Banded Gila Monster</button>
          <button mat-menu-item>Black Tree Monitor</button>
          <button mat-menu-item>Blue Spiny Lizard</button>
          <button mat-menu-item disabled>Velociraptor</button>
        </mat-menu>
       </div>











<router-outlet></router-outlet>
</main>
<button type="button" (click)="Navbar();"(click)="sidenav.toggle()">Klikni router za nav</button>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav1 mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      Sidenav content
    </mat-sidenav>
  
    <mat-sidenav-content>
      <p><mat-checkbox [(ngModel)]="opened">sidenav1.opened</mat-checkbox></p>
      <p><button mat-button (click)="sidenav1.toggle()">sidenav1.toggle()</button></p>
      <p>Events:</p>
      <div class="example-events">
        <div *ngFor="let e of events">{{e}}</div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container> -->


