.example-card {
    margin: auto;
    max-width: 90%;
    padding-top: 10px;
}

.marginTop {
    margin-top: 20px;
}

mat-panel-title {
    padding-top: 15px;
    padding-bottom: 15px;
}

mat-panel-description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.example-container {
    width: 100%;
}

.childA {
    flex: 4;
    width: 100%;
}

.childWidth100 {
    width: 100%;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.paddingLeft15 {
    padding-left: 15px;
}

.childWidth101 {
    width: 50%;
}