.example-card {
    margin: auto;
    max-width: 90%;
    padding-top: 10px;
}

.marginTop {
    margin-top: 20px;
}

mat-panel-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

mat-panel-description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.example-container {
    display: inline-flex;
    flex-direction: row;
    /* justify-content: center; */
}

.example-container>* {
    width: 100%;
}

#child1 {
    background-color: aqua;
    justify-content: center;
}

#child2 {
    background-color: red;
    justify-content: center;
}