.example-card {
    margin: auto;
    max-width: 90%;
    padding-top: 10px;
}

.marginTop {
    margin-top: 20px;
}

mat-panel-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

mat-panel-description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.example-container {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
}

.childA {
    flex: 2;
    width: 100%;
}

.childQ {
    padding-left: 20px;
    width: 100%;
}