<mat-card class="example-card marginTop">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Внесување на нова фирма за сметководствени услуги</mat-card-title>
        <mat-card-subtitle>Општи податоци</mat-card-subtitle>
    </mat-card-header>
    <form (ngSubmit)="save()" [formGroup]="newCompanyForm">
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Општи податоци
                        </mat-panel-title>
                        <mat-panel-description>
                            Пополнете ги сите задолжителни полиња
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- prv red-->
                    <div fxLayout="row wrap" fxLayout.xs="column" class="childQ" fxLayoutAlign="space-around center">
                        <div>
                            <mat-form-field>
                                <input type="number" matInput name="compnyNumber" placeholder="Број на фирма" formControlName="compnyNumber">
                                <mat-hint align="start"><strong>Задолжително поле</strong> </mat-hint>
                                <!-- <mat-hint align="end">{{newCompanyForm.get('compnyNumber').value.length}} / 256</mat-hint> -->
                                <mat-error *ngIf="newCompanyForm.get('compnyNumber').errors?.min">
                                    Ве молам внесете број поголем од 0
                                </mat-error>
                                <mat-error *ngIf="newCompanyForm.get('compnyNumber').errors?.max">
                                    Ве молам внесете број помал од 100
                                </mat-error>
                                <mat-error *ngIf="newCompanyForm.get('compnyNumber').errors?.required">
                                    Број на фирмата <strong>е задолжителен</strong>
                                </mat-error>
                            </mat-form-field>

                        </div>
                        <div class="childA">
                            <mat-form-field class="childQ">
                                <input matInput name="companyShortname" placeholder="Short" formControlName="companyShortname" placeholder="Скратен назив на фирмата">
                                <mat-error *ngIf="newCompanyForm.get('compnyNumber').errors?.minlength">
                                    Ве молам внесете број на фирмата
                                </mat-error>
                                <mat-error *ngIf="newCompanyForm.get('compnyNumber').errors?.required">
                                    Ве молам внесете <strong>скратен назив на фирмата</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-checkbox name="turOperator" labelPosition="before" formControlName="turOperator"> <strong>Тур оператор</strong></mat-checkbox>

                        </div>
                    </div>

                    <!-- vtor red -->

                    <!-- tret red -->
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Self aware panel
                        </mat-panel-title>
                        <mat-panel-description>
                            Currently I am {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <!-- <mat-form-field>
                            <input matInput placeholder="First name55555555555555555">
                        </mat-form-field> -->
                    </div>
                    <!-- <mat-form-field>
                        <input class="podravnuvanje" matInput placeholder="Age555555">
                    </mat-form-field> -->
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <button class="btn btn-primary mr-3" type="submit" style="width:80px">
          Save
        </button>
        </mat-card-actions>
    </form>
</mat-card>





<br>Dirty: {{ newCompanyForm.dirty }}
<br>Touched: {{ newCompanyForm.touched }}
<br>Valid: {{ newCompanyForm.valid }}
<br>Value: {{ newCompanyForm.value | json }}
<br>Street: {{ newCompanyForm.get('compnyNumber')?.value }}
<br>&nbsp;